<gmi:MI_Metadata xmlns:gmi="http://www.isotc211.org/2005/gmi" xmlns="http://www.isotc211.org/2005/gmi" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmx="http://www.isotc211.org/2005/gmx" xmlns:gsr="http://www.isotc211.org/2005/gsr" xmlns:gss="http://www.isotc211.org/2005/gss" xmlns:gts="http://www.isotc211.org/2005/gts" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.isotc211.org/2005/gmi http://www.ngdc.noaa.gov/metadata/published/xsd/schema.xsd">
    <gmd:fileIdentifier>
        <gco:CharacterString>{{uuid}}</gco:CharacterString>
    </gmd:fileIdentifier>
    <gmd:language>
        {# always english #}
        <gmd:LanguageCode codeList="http://www.loc.gov/standards/iso639-2/" codeListValue="eng">eng</gmd:LanguageCode>
    </gmd:language>
    <gmd:characterSet>
        {# always utf8 #}
        <gmd:MD_CharacterSetCode codeListValue="utf8" codeList="http://www.isotc211.org/2005/resources/codeList.xml#MD_CharacterSetCode"/>
    </gmd:characterSet>
    <gmd:hierarchyLevel>
        {# always dataset #}
        <gmd:MD_ScopeCode codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#MD_ScopeCode" codeListValue="dataset" codeSpace="005">dataset</gmd:MD_ScopeCode>
    </gmd:hierarchyLevel>
    <gmd:contact>
        <gmd:CI_ResponsibleParty>
            <gmd:organisationName>
                <gco:CharacterString>{{contact.organisationName}}</gco:CharacterString>
            </gmd:organisationName>
            <gmd:contactInfo>
                <gmd:CI_Contact>
                    <gmd:address>
                        <gmd:CI_Address>
                            <gmd:deliveryPoint>
                                <gco:CharacterString>{{contact.deliveryPoint}}</gco:CharacterString>
                            </gmd:deliveryPoint>
                            <gmd:city>
                                <gco:CharacterString>{{contact.city}}</gco:CharacterString>
                            </gmd:city>
                            <gmd:administrativeArea>
                                <gco:CharacterString>{{contact.administrativeArea}}</gco:CharacterString>
                            </gmd:administrativeArea>
                            <gmd:postalCode>
                                <gco:CharacterString>{{contact.postalCode}}</gco:CharacterString>
                            </gmd:postalCode>
                            <gmd:country>
                                <gco:CharacterString>{{contact.country}}</gco:CharacterString>
                            </gmd:country>
                            {% for email in contact.electronicMailAddress %}
                            <gmd:electronicMailAddress>
                                <gco:CharacterString>{{email}}</gco:CharacterString>
                            </gmd:electronicMailAddress>
                            {% endfor %}
                        </gmd:CI_Address>
                    </gmd:address>
                    <gmd:onlineResource>
                        <gmd:CI_OnlineResource>
                            <gmd:linkage>
                                <gmd:URL>{{contact.linkage}}</gmd:URL>
                            </gmd:linkage>
                            <gmd:name>
                                <gco:CharacterString>{{contact.linkage_name}}</gco:CharacterString>
                            </gmd:name>
                            <gmd:description>
                                <gco:CharacterString>{{contact.linkage_description}}</gco:CharacterString>
                            </gmd:description>
                        </gmd:CI_OnlineResource>
                    </gmd:onlineResource>
                </gmd:CI_Contact>
            </gmd:contactInfo>
            <gmd:role>
                <gmd:CI_RoleCode codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_RoleCode" codeListValue="pointOfContact" codeSpace="007">pointOfContact</gmd:CI_RoleCode>
            </gmd:role>
        </gmd:CI_ResponsibleParty>
    </gmd:contact>
    <gmd:dateStamp>
        <gco:Date>{{lastUpdate}}</gco:Date>
    </gmd:dateStamp>
    <gmd:metadataStandardName>
        <gco:CharacterString>ISO 19115-2 Geographic Information - Metadata - Part 2: Extensions for Imagery and Gridded Data</gco:CharacterString>
    </gmd:metadataStandardName>
    <gmd:metadataStandardVersion>
        <gco:CharacterString>ISO 19115-2:2009(E)</gco:CharacterString>
    </gmd:metadataStandardVersion>
    <gmd:referenceSystemInfo>
        <gmd:MD_ReferenceSystem>
            <gmd:referenceSystemIdentifier>
                <gmd:RS_Identifier>
                    <gmd:code>
                        <gco:CharacterString>urn:ogc:def:crs:EPSG:4326</gco:CharacterString>
                    </gmd:code>
                </gmd:RS_Identifier>
            </gmd:referenceSystemIdentifier>
        </gmd:MD_ReferenceSystem>
    </gmd:referenceSystemInfo>
    <gmd:identificationInfo>
        <gmd:MD_DataIdentification>
            <gmd:citation>
                <gmd:CI_Citation>
                    <gmd:title>
                        <gco:CharacterString>{{title}}</gco:CharacterString>
                    </gmd:title>
                    <gmd:date>
                        <gmd:CI_Date> 
                            <gmd:date>
                                <gco:Date>{{publication}}</gco:Date>
                            </gmd:date>
                            <gmd:dateType>
                                <gmd:CI_DateTypeCode codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_DateTypeCode" codeListValue="creation" codeSpace="001">creation</gmd:CI_DateTypeCode>
                            </gmd:dateType>
                        </gmd:CI_Date>
                    </gmd:date>
                    <gmd:date>
                        <gmd:CI_Date> 
                            <gmd:date>
                                <gco:Date>{{lastUpdate}}</gco:Date>
                            </gmd:date>
                            <gmd:dateType>
                                <gmd:CI_DateTypeCode codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_DateTypeCode" codeListValue="revision" codeSpace="003">revision</gmd:CI_DateTypeCode>
                            </gmd:dateType>
                        </gmd:CI_Date>
                    </gmd:date>
                    <gmd:edition>
                        <gco:CharacterString>{{version}}</gco:CharacterString>
                    </gmd:edition>
                    <gmd:editionDate>
                        <gco:Date>{{lastUpdate}}</gco:Date>
                    </gmd:editionDate>
                    <gmd:identifier>
                        <gmd:MD_Identifier>
                            <gmd:code>
                                {# put uuid here again, not sure if this is correct, GFZ uses DOI #}
                                <gco:CharacterString>{{uuid}}</gco:CharacterString>
                            </gmd:code>
                        </gmd:MD_Identifier>
                    </gmd:identifier>
                    {# GFZ lists all authors here, below (<gmd:pointOfContact>) only first author (again) #}
                    {# list all associated persons here #}
                    {% for author in authors %}
                    <gmd:CI_ResponsibleParty>
                        {% if author.last_name and author.first_name %}
                        <gmd:individualName>
                            <gco:CharacterString>{{author.last_name}}, {{author.first_name}}</gco:CharacterString>
                        </gmd:individualName>
                        {% endif %}
                        {% if author.organisation_name %}
                        <gmd:organisationName>
                            <gco:CharacterString>{{author.organisation_name}}</gco:CharacterString>
                        </gmd:organisationName>
                        {% endif %}
                        <gmd:role>
                            <gmd:CI_RoleCode codeList="https://data.noaa.gov/resources/iso19139/schema/resources/Codelist/gmxCodelists.xml#CI_RoleCode" codeListValue="author">author</gmd:CI_RoleCode>
                        </gmd:role>
                    </gmd:CI_ResponsibleParty>
                    {% endfor %}
                    {# publisher: from config_dict #}
                    <gmd:citedResponsibleParty>
                        <gmd:CI_ResponsibleParty>
                            <gmd:organisationName>
                                <gco:CharacterString>{{publisher.organisation_name}}</gco:CharacterString>
                            </gmd:organisationName>
                            <gmd:role>
                                <gmd:CI_RoleCode codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_RoleCode" codeListValue="publisher" codeSpace="006">publisher</gmd:CI_RoleCode>
                            </gmd:role>                        
                        </gmd:CI_ResponsibleParty>
                    </gmd:citedResponsibleParty>
                </gmd:CI_Citation>
            </gmd:citation>
            <gmd:abstract>
                <gco:CharacterString>
                Abstract: 
                {{abstract | indent(16)}}

                {% for details_table in details %}
                {% if details_table %}
                Details:
                {{details_table | indent(16)}}

                {% endif %}
                {% endfor %}
                </gco:CharacterString>
            </gmd:abstract>
            {# first author again as pointOfContact (like GFZ) #}
            <gmd:pointOfContact>
                <gmd:CI_ResponsibleParty>
                    {% if authors[0].last_name and authors[0].first_name %}
                    <gmd:individualName>
                        <gco:CharacterString>{{authors[0].last_name}}, {{authors[0].first_name}}</gco:CharacterString>
                    </gmd:individualName>
                    {% endif %}
                    {% if authors[0].organisation_name %}
                    <gmd:organisationName>
                        <gco:CharacterString>{{authors[0].organisation_name}}</gco:CharacterString>
                    </gmd:organisationName>
                    {% endif %}
                    <gmd:role>
                        <gmd:CI_RoleCode codeList="https://data.noaa.gov/resources/iso19139/schema/resources/Codelist/gmxCodelists.xml#CI_RoleCode" codeListValue="pointOfContact">pointOfContact</gmd:CI_RoleCode>
                    </gmd:role>
                </gmd:CI_ResponsibleParty>
            </gmd:pointOfContact>
            {% for keyword in keywords %}
            {# <gmd:descriptiveKeywords would be repeatable -> group by thesaurus?? #}
            <gmd:descriptiveKeywords>
                <gmd:MD_Keywords>
                    <gmd:keyword>
                        <gco:CharacterString>{{keyword.full_path}}</gco:CharacterString>
                    </gmd:keyword>                    
                    <gmd:thesaurusName>
                        <gmd:CI_Citation>
                            <gmd:title>
                                <gco:CharacterString>{{keyword.thesaurusName}}</gco:CharacterString>
                            </gmd:title>
                            <gmd:date>
                                <gmd:CI_Date>
                                    <gmd:date gco:nilReason="missing"/>
                                    <gmd:dateType>
                                        <gmd:CI_DateTypeCode codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_DateTypeCode" codeListValue="publication">publication</gmd:CI_DateTypeCode>
                                    </gmd:dateType>
                                </gmd:CI_Date>
                            </gmd:date>
                        </gmd:CI_Citation>
                    </gmd:thesaurusName>
                </gmd:MD_Keywords>
            </gmd:descriptiveKeywords>
            {% endfor %}
            {% for license in licenses %}
            <gmd:resourceConstraints xlink:href="{{license.link}}">
                <gmd:MD_Constraints>
                    <gmd:useLimitation>
                        <gco:CharacterString>{{license.short_title}}</gco:CharacterString>
                    </gmd:useLimitation>
                </gmd:MD_Constraints>
            </gmd:resourceConstraints>
            {% endfor %}
            {% for spatial_resolution in spatial_resolutions %}
            <gmd:spatialRepresentationType>
                <gmd:MD_SpatialRepresentationTypeCode codeList="https://data.noaa.gov/resources/iso19139/schema/resources/Codelist/gmxCodelists.xml#MD_SpatialRepresentationTypeCode" codeListValue='grid'>'grid</gmd:MD_SpatialRepresentationTypeCode>
            </gmd:spatialRepresentationType>
            <gmd:spatialResolution>
                <gmd:MD_Resolution>
                    <gmd:distance>
                        <gco:Distance uom="meters">{{spatial_resolution}}</gco:Distance>
                    </gmd:distance>
                </gmd:MD_Resolution>
            </gmd:spatialResolution>
            {% endfor %}
            <gmd:language>
                {# always english #}
                <gco:CharacterString>eng</gco:CharacterString>
            </gmd:language>
            <gmd:characterSet>
                {# always utf8 #}
                <gmd:MD_CharacterSetCode codeListValue="utf8" codeList="http://www.isotc211.org/2005/resources/codeList.xml#MD_CharacterSetCode"/>
            </gmd:characterSet>
            <gmd:topicCategory>
                {# TODO: currently always 'environment', but other values are often better -> how do we map them? #}
                <gmd:MD_TopicCategoryCode>environment</gmd:MD_TopicCategoryCode>
            </gmd:topicCategory>
            <gmd:extent>
                <gmd:EX_Extent id="boundingExtent">
                    {% for bbox_location in bbox_locations %}
                    <gmd:geographicElement>
                        <gmd:EX_GeographicBoundingBox id="boundingGeographicBoundingBox">
                            <gmd:westBoundLongitude>
                                <gco:Decimal>{{bbox_location.min_lon}}</gco:Decimal>
                            </gmd:westBoundLongitude>
                            <gmd:eastBoundLongitude>
                                <gco:Decimal>{{bbox_location.max_lon}}</gco:Decimal>
                            </gmd:eastBoundLongitude>
                            <gmd:southBoundLatitude>
                                <gco:Decimal>{{bbox_location.min_lat}}</gco:Decimal>
                            </gmd:southBoundLatitude>
                            <gmd:northBoundLatitude>
                                <gco:Decimal>{{bbox_location.max_lat}}</gco:Decimal>
                            </gmd:northBoundLatitude>
                        </gmd:EX_GeographicBoundingBox>
                    </gmd:geographicElement>
                    {% endfor %}
                    {% for temporal_scale in temporal_scales %}
                    <gmd:temporalElement>
                        <gmd:EX_TemporalExtent>
                            <gmd:extent>
                                <gml:TimePeriod gml:id="boundingTemporalExtent">
                                    <gml:beginPosition>{{temporal_scale.temporal_extent_start}}</gml:beginPosition>
                                    <gml:endPosition>{{temporal_scale.temporal_extent_end}}</gml:endPosition>
                                    <gml:timeInterval unit="seconds">{{temporal_scale.temporal_resolution}}</gml:timeInterval>
                                </gml:TimePeriod>
                            </gmd:extent>
                        </gmd:EX_TemporalExtent>
                    </gmd:temporalElement>
                    {% endfor %}
                </gmd:EX_Extent>
            </gmd:extent>
        </gmd:MD_DataIdentification>
    </gmd:identificationInfo>
    {# TODO: dataQualityInfo (not yet implemented) #}
    <gmd:dataQualityInfo>
        <gmd:DQ_DataQuality>
            <gmd:scope>
                <gmd:DQ_Scope>
                    <gmd:level>
                        {# currently always dataset, with the export of EntryGroups, this would be 'series' #}
                        <gmd:MD_ScopeCode codeListValue="dataset" codeList="http://www.isotc211.org/2005/resources/codeList.xml#MD_ScopeCode"/>
                    </gmd:level>
                </gmd:DQ_Scope>
            </gmd:scope>
            <gmd:report>
                <gmd:DQ_CompletenessCommission>
                    <gmd:evaluationMethodDescription>
                        <gco:CharacterString>The V-For-WaTer group currently cannot provide any warranty as to the accuracy, reliability, or completeness of furnished data.</gco:CharacterString>
                    </gmd:evaluationMethodDescription>
                    <gmd:result gco:nilReason="unknown" />
                </gmd:DQ_CompletenessCommission>
            </gmd:report>
            <gmd:report>
                <gmd:DQ_CompletenessOmission>
                    <gmd:evaluationMethodDescription>
                        <gco:CharacterString>The V-For-WaTer group currently cannot provide any warranty as to the accuracy, reliability, or completeness of furnished data.</gco:CharacterString>
                    </gmd:evaluationMethodDescription>
                    <gmd:result gco:nilReason="unknown" />
                </gmd:DQ_CompletenessOmission>
            </gmd:report>
            <gmd:report>
                <gmd:DQ_ConceptualConsistency>
                    <gmd:measureDescription>
                        <gco:CharacterString>The V-For-WaTer group currently cannot guarantee the scope, accuracy or timeliness of this information.</gco:CharacterString>
                    </gmd:measureDescription>
                    <gmd:result gco:nilReason="unknown" />
                </gmd:DQ_ConceptualConsistency>
            </gmd:report>
            {# <lineage> goes here when implemented #}
        </gmd:DQ_DataQuality>
    </gmd:dataQualityInfo>
    {#
    - <gmd:portrayalCatalogueInfo>
    - <gmd:metadataConstraints>
    - <gmd:applicationSchemaInfo>
    - <gmd:metadataMaintenance>
    - <gmd:acquisitionInformation>
    #}
</gmi:MI_Metadata>