<wml2:Collection xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:om="http://www.opengis.net/om/2.0" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:wml2="http://www.opengis.net/waterml/2.0" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:sam="http://www.opengis.net/sampling/2.0" xmlns:sams="http://www.opengis.net/samplingSpatial/2.0" xsi:schemaLocation="http://www.opengis.net/waterml/2.0 ../../../WaterML2.0/trunk/Schema_RFC/waterml2.xsd" gml:id="xsd-collection.example">
    <gml:description>This WaterML document contains time series data for the dataset "{{title}}"</gml:description>
    <wml2:metadata>
        <wml2:DocumentMetadata gml:id="document-metadata.1">
            <wml2:generationDate>{{ now() }}</wml2:generationDate>
            <wml2:version xlink:href="http://www.opengis.net/waterml/2.0" xlink:title="WaterML 2.0"/>
            <wml2:generationSystem>V-FOR-WaTer</wml2:generationSystem>
        </wml2:DocumentMetadata>
    </wml2:metadata>
    
    {% if temporal_scales | length > 0 %}
    <wml2:temporalExtent> {# this element contains the start and end of all included timeseries #}
        <gml:TimePeriod gml:id="time-period.1">
            {% set temporal_extent_values = temporal_scales | get_temporal_extent_values %}
            <gml:beginPosition>{{ temporal_extent_values[0] }}</gml:beginPosition>
            <gml:endPosition>{{ temporal_extent_values[1] }}</gml:endPosition>
        </gml:TimePeriod>
    </wml2:temporalExtent>
    {% endif %}
    <!--  no local dictionary  -->
    <!--  no sampling feature. inline  -->

    {# loop over all members of ImmutableResultSet here, as we put timeseries here, we can loop over temporal_scales -> all timeseries data will be included #}
    {% for temporal_scale in temporal_scales %}
    <wml2:observationMember>
        <om:OM_Observation gml:id="observation.1">
            <gml:identifier codeSpace="http://www.example.com/observations">EX.OB.B.1</gml:identifier>
            <om:metadata>
            <!--  If you want to include the ObservationMetadata properties
                * intendedObservationSpacing
                * status
                * sampledMedium
                * maxiumGap
                * or named parameters
                This metadata block  will need to include base ISO Metadata 
                gmd:contact
                gmd:datetime
                gmd:identification
                -->
                <wml2:ObservationMetadata>
                    <gmd:contact xlink:href="http://www.example.com" xlink:title="Example Pty Ltd"/>
                    <gmd:dateStamp>
                        <gco:DateTime>2011-11-28T10:01:00+10:00</gco:DateTime>
                    </gmd:dateStamp>
                    <gmd:identificationInfo xlink:href="http://www.example.com/observations/C.1" xlink:title="Observation C.1"/>
                    <wml2:intendedObservationSpacing>PT15M</wml2:intendedObservationSpacing>
                    <wml2:status xlink:href="http://water.usgs.gov/provisional.html" xlink:title="Provisional data"/>
                    <wml2:sampledMedium xlink:href="http://www.opengis.net/def/medium/WalterML/2.0/Water" xlink:title="Water"/>
                </wml2:ObservationMetadata>
            </om:metadata>
            <om:phenomenonTime xlink:href="#time-period.1" xlink:title="Temporal Extent"/>
            <om:resultTime>
                <gml:TimeInstant gml:id="time-instant.1">
                    <gml:timePosition>2011-11-21T13:05:00+10:00</gml:timePosition>
                </gml:TimeInstant>
            </om:resultTime>
            <om:procedure>
            <wml2:ObservationProcess gml:id="observation-process.1">
                <wml2:processType xlink:href="http://www.opengis.net/def/procvessType/WaterML/2.0/Sensor" xlink:title="Sensor"/>
                <wml2:processReference xlink:href="http://www.example.com/sensor/1.0" xlink:title="Sensor Sampling Regime 1.0"/>
            </wml2:ObservationProcess>
            </om:procedure>
            {# the following produced an error: The reference to entity "pm_search" must end with the ';' delimiter. #}
            {# <om:observedProperty xlink:href="http://nwis.waterdata.usgs.gov/usa/nwis/pmcodes?radio_pm_search=pm_search&pm_search=00010&format=rdb&show=parameter_group_nm&show=parameter_nm&show=parameter_units" xlink:title="Temperature, water, degrees Celsius"/> #}
            <om:featureOfInterest>
                <wml2:MonitoringPoint gml:id="monitoring-point.1">
                    <gml:name codeSpace="http://www.csiro.au/">Deddington</gml:name>
                    <sam:sampledFeature xlink:href="http://csiro.au/features/rivers/south_esk/deddington" xlink:title="Deddington"/>
                    <sams:shape>
                        <gml:Point gml:id="location_deddington">
                            <gml:pos srsName="urn:ogc:def:crs:EPSG::4326">-41.814935 147.568517 </gml:pos>
                        </gml:Point>
                    </sams:shape>
                    <wml2:gaugeDatum xlink:href="urn:ogc:def:crs:EPSG::5711" xlink:title="Australian height datum"/>
                    <wml2:timeZone>
                        <wml2:TimeZone>
                            <wml2:zoneOffset>+11:00</wml2:zoneOffset>
                            <wml2:zoneAbbreviation>AEDT</wml2:zoneAbbreviation>
                        </wml2:TimeZone>
                    </wml2:timeZone>
                </wml2:MonitoringPoint>
            </om:featureOfInterest>
            <om:result>
                <wml2:MeasurementTimeseries gml:id="timeseries.1">
                    <wml2:metadata>
                        <wml2:TimeseriesMetadata>
                            <wml2:temporalExtent xlink:href="#time-period.1"/>
                        </wml2:TimeseriesMetadata>
                    </wml2:metadata>
                    <wml2:defaultPointMetadata>
                        <wml2:DefaultTVPMeasurementMetadata>
                            <wml2:qualifier xlink:title="Example"/>
                            <wml2:uom uom="Cel"/>
                            <wml2:interpolationType xlink:href="http://www.opengis.net/def/timeseriesType/WaterML/2.0/continuous" xlink:title="Instantaneous"/>
                        </wml2:DefaultTVPMeasurementMetadata>
                    </wml2:defaultPointMetadata>
                    <wml2:point>
                        <wml2:MeasurementTVP>
                            <wml2:time>2011-11-21T12:27:00+10:00</wml2:time>
                            <wml2:value>10.5</wml2:value>
                        </wml2:MeasurementTVP>
                    </wml2:point>
                    <wml2:point>
                        <wml2:MeasurementTVP>
                            <wml2:time>2011-11-21T12:44:35+10:00</wml2:time>
                            <wml2:value>10.5</wml2:value>
                        </wml2:MeasurementTVP>
                    </wml2:point>
                    <wml2:point>
                        <wml2:MeasurementTVP>
                            <wml2:time>2011-11-21T12:57:10+10:00</wml2:time>
                            <wml2:value>10.4</wml2:value>
                        </wml2:MeasurementTVP>
                    </wml2:point>
                </wml2:MeasurementTimeseries>
            </om:result>
        </om:OM_Observation>
    </wml2:observationMember>
    {% endfor %}
</wml2:Collection>