sqlalchemy<2.0
geoalchemy2
pandas<2.2
xarray
numpy
psycopg2-binary
tabulate
nltk
shapely
pyproj
requests
dicttoxml>=1.7.5
lxml
jinja2
tqdm
pydantic>=2.2.0
pydantic_settings
pydantic-geojson
python-dotenv
