<!-- https://www.ncei.noaa.gov/sites/default/files/2020-04/ISO%2019115-2%20Workbook_Part%20II%20Extentions%20for%20imagery%20and%20Gridded%20Data.pdf -->

<gmi:MI_Metadata xmlns:gmi="http://www.isotc211.org/2005/gmi" xmlns="http://www.isotc211.org/2005/gmi" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmx="http://www.isotc211.org/2005/gmx" xmlns:gsr="http://www.isotc211.org/2005/gsr" xmlns:gss="http://www.isotc211.org/2005/gss" xmlns:gts="http://www.isotc211.org/2005/gts" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.isotc211.org/2005/gmi http://www.ngdc.noaa.gov/metadata/published/xsd/schema.xsd">
    <gmd:fileIdentifier>
        <gco:CharacterString>{{uuid}}</gco:CharacterString>
    </gmd:fileIdentifier>
    <gmd:language>
        {# always english #}
        <gmd:LanguageCode codeList="http://www.loc.gov/standards/iso639-2/" codeListValue="eng">eng</gmd:LanguageCode>
    </gmd:language>
    <gmd:characterSet>
        {# always utf8 #}
        <gmd:MD_CharacterSetCode codeListValue="utf8" codeList="http://www.isotc211.org/2005/resources/codeList.xml#MD_CharacterSetCode"/>
    </gmd:characterSet>
    {% if isPartial %}
    {# if Entry isPartial: ids of associated groups #}
    <gmd:parentIdentifier>
        {# parentIdentifier: EntryGroup.uuid #}
        {% for group in associated_groups %}
        <gco:CharacterString>{{group.uuid}}</gco:CharacterString>
        {% endfor %}
    </gmd:parentIdentifier>
    {% endif %}
    <gmd:hierarchyLevel>
        {# always dataset #}
        <gmd:MD_ScopeCode codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#MD_ScopeCode" codeListValue="dataset" codeSpace="005">dataset</gmd:MD_ScopeCode>
    </gmd:hierarchyLevel>


    <gmd:contact>
        <gmd:CI_ResponsibleParty>
            <gmd:organisationName>
                <gco:CharacterString>{{contact.organisationName}}</gco:CharacterString>
            </gmd:organisationName>
            <gmd:contactInfo>
                <gmd:CI_Contact>
                    <gmd:address>
                        <gmd:CI_Address>
                            <gmd:deliveryPoint>
                                <gco:CharacterString>{{contact.deliveryPoint}}</gco:CharacterString>
                            </gmd:deliveryPoint>
                            <gmd:city>
                                <gco:CharacterString>{{contact.city}}</gco:CharacterString>
                            </gmd:city>
                            <gmd:administrativeArea>
                                <gco:CharacterString>{{contact.administrativeArea}}</gco:CharacterString>
                            </gmd:administrativeArea>
                            <gmd:postalCode>
                                <gco:CharacterString>{{contact.postalCode}}</gco:CharacterString>
                            </gmd:postalCode>
                            <gmd:country>
                                <gco:CharacterString>{{contact.country}}</gco:CharacterString>
                            </gmd:country>
                            {% for email in contact.electronicMailAddress %}
                            <gmd:electronicMailAddress>
                                <gco:CharacterString>{{email}}</gco:CharacterString>
                            </gmd:electronicMailAddress>
                            {% endfor %}
                        </gmd:CI_Address>
                    </gmd:address>
                    <gmd:onlineResource>
                        <gmd:CI_OnlineResource>
                            <gmd:linkage>
                                <gmd:URL>{{contact.linkage}}</gmd:URL>
                            </gmd:linkage>
                            <gmd:name>
                                <gco:CharacterString>{{contact.linkage_name}}</gco:CharacterString>
                            </gmd:name>
                            <gmd:description>
                                <gco:CharacterString>{{contact.linkage_description}}</gco:CharacterString>
                            </gmd:description>
                        </gmd:CI_OnlineResource>
                    </gmd:onlineResource>
                </gmd:CI_Contact>
            </gmd:contactInfo>
            <gmd:role>
                <gmd:CI_RoleCode codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_RoleCode" codeListValue="pointOfContact" codeSpace="007">pointOfContact</gmd:CI_RoleCode>
            </gmd:role>
        </gmd:CI_ResponsibleParty>
    </gmd:contact>
    <gmd:dateStamp>
        <gco:Date>{{lastUpdate_date.isoformat()}}</gco:Date>
    </gmd:dateStamp>
    <gmd:metadataStandardName>
        <gco:CharacterString>ISO 19115-2 Geographic Information - Metadata - Part 2: Extensions for Imagery and Gridded Data</gco:CharacterString>
    </gmd:metadataStandardName>
    <gmd:metadataStandardVersion>
        <gco:CharacterString>ISO 19115-2:2009(E)</gco:CharacterString>
    </gmd:metadataStandardVersion>


    <gmd:referenceSystemInfo>
        <gmd:MD_ReferenceSystem>
            <gmd:referenceSystemIdentifier>
                <gmd:RS_Identifier>
                    <gmd:code>
                        <gco:CharacterString>urn:ogc:def:crs:EPSG:4326</gco:CharacterString>
                    </gmd:code>
                </gmd:RS_Identifier>
            </gmd:referenceSystemIdentifier>
        </gmd:MD_ReferenceSystem>
    </gmd:referenceSystemInfo>

    {# repeat identificationInfo for all members/entries in ImmutableResultSet #}
    {% for entry_dict in entry_dicts %}
    <gmd:identificationInfo>
        <gmd:MD_DataIdentification>
            <gmd:citation>
                <gmd:CI_Citation>
                    <gmd:title>
                        <gco:CharacterString>{{entry_dict.title}}</gco:CharacterString>
                    </gmd:title>
                    <gmd:date>
                        <gmd:CI_Date> 
                            <gmd:date>
                                <gco:Date>{{entry_dict.publication | datetime_to_date}}</gco:Date>
                            </gmd:date>
                            <gmd:dateType>
                                <gmd:CI_DateTypeCode codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_DateTypeCode" codeListValue="creation" codeSpace="001">creation</gmd:CI_DateTypeCode>
                            </gmd:dateType>
                        </gmd:CI_Date>
                    </gmd:date>
                    <gmd:date>
                        <gmd:CI_Date> 
                            <gmd:date>
                                <gco:Date>{{entry_dict.lastUpdate | datetime_to_date}}</gco:Date>
                            </gmd:date>
                            <gmd:dateType>
                                <gmd:CI_DateTypeCode codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_DateTypeCode" codeListValue="revision" codeSpace="003">revision</gmd:CI_DateTypeCode>
                            </gmd:dateType>
                        </gmd:CI_Date>
                    </gmd:date>
                    <edition>
                        <gco:CharacterString>{{entry_dict.version}}</gco:CharacterString>
                    </edition>
                    <editionDate>
                        <gco:Date>{{entry_dict.publication | datetime_to_date}}</gco:Date>
                    </editionDate>
                    <gmd:identifier>
                        <gmd:MD_Identifier>
                            <gmd:code>
                                {# put Entry.uuid here, not sure if this is correct, GFZ uses DOI #}
                                <gco:CharacterString>{{entry_dict.uuid}}</gco:CharacterString>
                            </gmd:code>
                        </gmd:MD_Identifier>
                    </gmd:identifier>
                    
                    {# TODO: discuss series #}
                    {# series? -> EntryGroup.uuid? -> CI_Series #}
                    {# colletiveTitle? -> EntryGroup.title #}
                    {# which EntryGroup if there are more than one in Entry.associatedGroups? -> all of them? #}
                    
                    {# TODO: do we need citedResponsibleParty here? -> 'Identification of the contact for the resource.' #}
                    {# GFZ lists all authors here, below (<gmd:pointOfContact>) only first author (again) #}


                    {# list all associated persons here #}
                    {% for author in entry_dict.authors %}
                    <gmd:CI_ResponsibleParty>
                        <gmd:individualName>
                            {# format: last_name, first_name #}
                            <gco:CharacterString>{{author.last_name}}, {{author.first_name}}</gco:CharacterString>
                        </gmd:individualName>
                        <gmd:organisationName>
                            <gco:CharacterString>{{author.organisation_name}}</gco:CharacterString>
                        </gmd:organisationName>
                        <gmd:role>
                            {# TODO: connect person to person_role, fill automatically! #}
                            <gmd:CI_RoleCode codeList="https://data.noaa.gov/resources/iso19139/schema/resources/Codelist/gmxCodelists.xml#CI_RoleCode" codeListValue="author">author</gmd:CI_RoleCode>
                        </gmd:role>
                    </gmd:CI_ResponsibleParty>
                    {% endfor %}
                    {# originator: from config_dict #}
                    <gmd:citedResponsibleParty>
                        <gmd:CI_ResponsibleParty>
                            <gmd:organisationName>
                                <gco:CharacterString>{{originator.organisation_name}}</gco:CharacterString>
                            </gmd:organisationName>
                            <gmd:role>
                                {# connect person to person_role! #}
                                <gmd:CI_RoleCode codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_RoleCode" codeListValue="originator" codeSpace="006">originator</gmd:CI_RoleCode>
                            </gmd:role>                        
                        </gmd:CI_ResponsibleParty>
                    </gmd:citedResponsibleParty>
                </gmd:CI_Citation>
            </gmd:citation>
            <gmd:abstract>
                <gco:CharacterString>
                Abstract: 
                {{entry_dict.abstract}}

                Details:
                {{entry_dict.details_table | indent(16)}}
                </gco:CharacterString>
            </gmd:abstract>

            {# first author again as pointOfContact (like GFZ) #}
            <gmd:pointOfContact>
                <gmd:CI_ResponsibleParty>
                    <gmd:individualName>
                        {# format: last_name, first_name #}
                        <gco:CharacterString>{{entry_dict.author.last_name}}, {{entry_dict.author.first_name}}</gco:CharacterString>
                    </gmd:individualName>
                    <gmd:organisationName>
                        <gco:CharacterString>{{entry_dict.author.organisation_name}}</gco:CharacterString>
                    </gmd:organisationName>
                    <gmd:role>
                        {# connect person to person_role! #}
                        <gmd:CI_RoleCode codeList="https://data.noaa.gov/resources/iso19139/schema/resources/Codelist/gmxCodelists.xml#CI_RoleCode" codeListValue="pointOfContact">pointOfContact</gmd:CI_RoleCode>
                    </gmd:role>
                </gmd:CI_ResponsibleParty>
            </gmd:pointOfContact>
            {# TODO: details -> for now in abstract #}
            {% if keywords %}
            <gmd:descriptiveKeywords>
            {# our details are key-value pairs -> just store them here? #}
            {# we had the idea of tags -> would be stored here #}
                <gmd:MD_Keywords>
                    {# implementation of thesaurus keywords like GFZ #}
                    {% for keyword in keywords %}
                    <gmd:keyword>
                        <gco:CharacterString>{{keyword.full_path}}</gco:CharacterString>
                    </gmd:keyword>
                    {% endfor %}
                    <gmd:thesaurusName>
                        <gmd:CI_Citation>
                            <gmd:title>
                                {# thesaurus not connected to keywords! #}
                                <gco:CharacterString>{{thesaurus.title}}</gco:CharacterString>
                            </gmd:title>
                            <gmd:date>
                                <gmd:CI_Date>
                                    <gmd:date gco:nilReason="missing"/>
                                    <gmd:dateType>
                                        <gmd:CI_DateTypeCode codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_DateTypeCode" codeListValue="publication">publication</gmd:CI_DateTypeCode>
                                    </gmd:dateType>
                                </gmd:CI_Date>
                            </gmd:date>
                        </gmd:CI_Citation>
                    </gmd:thesaurusName>
                </gmd:MD_Keywords>
            </gmd:descriptiveKeywords>
            <gmd:resourceConstraints xlink:href="{{license.link}}">
                <gmd:MD_Constraints>
                    <gmd:useLimitation>
                        {# decided for short title (like GFZ) #}
                        <gco:CharacterString>{{license.short_title}}</gco:CharacterString>
                    </gmd:useLimitation>
                </gmd:MD_Constraints>
            </gmd:resourceConstraints>
            {% endif %}

            {% for group in associated_groups %}
            {# all associated groups here (TODO: discuss) #}
            {# absolute minimum version, as we don't have a general author / contact of EntryGroups #}
            {# another possibility (from Github docs): Entry.associated_groups.entries.uuid #}
            <gmd:aggregationInfo>
                <gmd:MD_AggregateInformation>
                    <gmd:aggregateDataSetIdentifier>
                        <gmd:RS_Identifier>
                            <gmd:code>
                                <gco:CharacterString>{{group.uuid}}</gco:CharacterString>
                            </gmd:code>
                            <gmd:codeSpace>
                                <gco:CharacterString>UUID</gco:CharacterString>
                            </gmd:codeSpace>
                        </gmd:RS_Identifier>
                    </gmd:aggregateDataSetIdentifier>
                    <gmd:associationType>
                        {% if group.type.name in ['Project', 'Label'] %}
                        <gmd:DS_AssociationTypeCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#DS_AssociationTypeCode" codeListValue="crossReference">crossReference</gmd:DS_AssociationTypeCode>
                        {% elif group.type.name in ['Composite', 'Split dataset'] %}
                        <gmd:DS_AssociationTypeCode codeList="http://www.ngdc.noaa.gov/metadata/published/xsd/schema/resources/Codelist/gmxCodelists.xml#DS_AssociationTypeCode" codeListValue="largerWorkCitation">largerWorkCitation</gmd:DS_AssociationTypeCode>                        
                        {% endif %}
                    </gmd:associationType>
                </gmd:MD_AggregateInformation>
            </gmd:aggregationInfo>
            {% endfor %}

            {# spatialRepresentation: only valid for spatial / geographical data! -> we will only store 'grid' spatial data?? #}
            {% if datasource %}
            {% if datasource.spatial_scale %}
            <gmd:spatialRepresentationType>
                <gmd:MD_SpatialRepresentationTypeCode codeList="https://data.noaa.gov/resources/iso19139/schema/resources/Codelist/gmxCodelists.xml#MD_SpatialRepresentationTypeCode" codeListValue='grid'>'grid</gmd:MD_SpatialRepresentationTypeCode>
            </gmd:spatialRepresentationType>
            <gmd:spatialResolution>
                <gmd:MD_Resolution>
                    {# is distance really resolution? 'Ground sample distance' #}
                    <gmd:distance>
                        <gco:Distance uom="meters">{{datasource.spatial_scale.resolution}}</gco:Distance>
                    </gmd:distance>
                </gmd:MD_Resolution>
            </gmd:spatialResolution>
            {% endif %}
            {% endif %}

            <gmd:language>
                {# always english #}
                <gco:CharacterString>eng</gco:CharacterString>
            </gmd:language>
            <gmd:characterSet>
            {% if datasource %}
                {# if datasource exists: use datasource.encoding #}
                <gmd:MD_CharacterSetCode codeListValue="{{datasource.encoding|replace("-", "")}}" codeList="http://www.isotc211.org/2005/resources/codeList.xml#MD_CharacterSetCode"/>
            {% else %}
                {# no datasource: utf8 #}
                <gmd:MD_CharacterSetCode codeListValue="utf8" codeList="http://www.isotc211.org/2005/resources/codeList.xml#MD_CharacterSetCode"/>
            {% endif %}
            </gmd:characterSet>


            <gmd:topicCategory>
                {# currently always 'environment', but other values are often better -> how do we map them? TODO #}
                <gmd:MD_TopicCategoryCode>environment</gmd:MD_TopicCategoryCode>
            </gmd:topicCategory>
            
            {% if datasource %}
            <gmd:extent>
                {# TODO: neue location implementation -> View kann hier nicht verwendet werden -> drüber nachdenken wie wir das machen #}
                <gmd:EX_Extent id="boundingExtent">
                    {# geographic extent only for datasources with spatial_scale #}
                    {% if datasource.spatial_scale %}
                    <gmd:geographicElement>
                        {# TODO: IRS repeatable location #}
                        <gmd:EX_GeographicBoundingBox id="boundingGeographicBoundingBox">
                            {# TODO: get bounding box parameters from column extent (atm no example present) #}
                            <gmd:westBoundLongitude>
                                <gco:Decimal>{{datasource.spatial_scale.extent}}</gco:Decimal>
                            </gmd:westBoundLongitude>
                            <gmd:eastBoundLongitude>
                                <gco:Decimal>{{datasource.spatial_scale.extent}}</gco:Decimal>
                            </gmd:eastBoundLongitude>
                            <gmd:southBoundLatitude>
                                <gco:Decimal>{{datasource.spatial_scale.extent}}</gco:Decimal>
                            </gmd:southBoundLatitude>
                            <gmd:northBoundLatitude>
                                <gco:Decimal>{{datasource.spatial_scale.extent}}</gco:Decimal>
                            </gmd:northBoundLatitude>
                        </gmd:EX_GeographicBoundingBox>
                    </gmd:geographicElement>
                    {% elif 'POINT' in location %}
                    {# store point location as "bounding box" #}
                    {# TODO:  #}
                    <gmd:geographicElement>
                        <gmd:EX_GeographicBoundingBox>
                            <gmd:westBoundLongitude>
                                <gco:Decimal>{{location.split(' ')[1].split('(')[1] | float}}</gco:Decimal>
                            </gmd:westBoundLongitude>
                            <gmd:eastBoundLongitude>
                                <gco:Decimal>{{location.split(' ')[1].split('(')[1] | float}}</gco:Decimal>
                            </gmd:eastBoundLongitude>
                            <gmd:southBoundLatitude>
                                <gco:Decimal>{{location.split(' ')[2].split(')')[0] | float}}</gco:Decimal>
                            </gmd:southBoundLatitude>
                            <gmd:northBoundLatitude>
                                <gco:Decimal>{{location.split(' ')[2].split(')')[0] | float}}</gco:Decimal>
                            </gmd:northBoundLatitude>
                        </gmd:EX_GeographicBoundingBox>
                    </gmd:geographicElement>
                    {% endif %}
                    {% if datasource.temporal_scale %}
                    <gmd:temporalElement>
                        <gmd:EX_TemporalExtent>
                            <gmd:extent>
                                <gml:TimePeriod gml:id="boundingTemporalExtent">
                                    <gml:beginPosition>{{datasource.temporal_scale.extent[0].isoformat()}}</gml:beginPosition>
                                    <gml:endPosition>{{datasource.temporal_scale.extent[1].isoformat()}}</gml:endPosition>
                                    <gml:timeInterval unit="seconds">{{datasource.temporal_scale.resolution | temporal_resolution_to_seconds}}</gml:timeInterval>
                                </gml:TimePeriod>
                            </gmd:extent>
                        </gmd:EX_TemporalExtent>
                    </gmd:temporalElement>
                    {% endif %}
                    {# TODO or else: <TimeInstant>: single datetime, e.g. land-use for one timestep? #}
                </gmd:EX_Extent>
            </gmd:extent>
            <gmd:supplementalInformation>
                {# this is usually not helpful on export but potentially necessary for re-import #}
                {# TODO: evenutally data_names? -> If there is no other good place. #}
                <gco:CharacterString>{{datasource.args}}</gco:CharacterString>
            </gmd:supplementalInformation>
            {% endif %}
        </gmd:MD_DataIdentification>
    </gmd:identificationInfo>
    {% endfor %}

    {# TODO: contentInfo: variable and datasource?? how? -> what about featureCatalogue? #}
    <gmd:contentInfo>
        <gmd:MD_FeatureCatalogueDescription>
            <gmd:includedWithDataset>
                <gco:Boolean>0</gco:Boolean>
            </gmd:includedWithDataset>
            <gmd:featureCatalogueCitation gco:nilReason="unknown" />
        </gmd:MD_FeatureCatalogueDescription>
    </gmd:contentInfo>


    {# TODO: dataQualityInfo (not yet implemented) #}
    <gmd:dataQualityInfo>
        <gmd:DQ_DataQuality>
            <gmd:scope>
                <gmd:DQ_Scope>
                    <gmd:level>
                        {# currently always dataset, with the export of EntryGroups, this would be 'series' #}
                        <gmd:MD_ScopeCode codeListValue="dataset" codeList="http://www.isotc211.org/2005/resources/codeList.xml#MD_ScopeCode"/>
                    </gmd:level>
                </gmd:DQ_Scope>
            </gmd:scope>
            <gmd:report>
                <gmd:DQ_CompletenessCommission>
                    <gmd:evaluationMethodDescription>
                        <gco:CharacterString>The V-For-WaTer group currently cannot provide any warranty as to the accuracy, reliability, or completeness of furnished data.</gco:CharacterString>
                    </gmd:evaluationMethodDescription>
                    <gmd:result gco:nilReason="unknown" />
                </gmd:DQ_CompletenessCommission>
            </gmd:report>
            <gmd:report>
                <gmd:DQ_CompletenessOmission>
                    <gmd:evaluationMethodDescription>
                        <gco:CharacterString>The V-For-WaTer group currently cannot provide any warranty as to the accuracy, reliability, or completeness of furnished data.</gco:CharacterString>
                    </gmd:evaluationMethodDescription>
                    <gmd:result gco:nilReason="unknown" />
                </gmd:DQ_CompletenessOmission>
            </gmd:report>
            <gmd:report>
                <gmd:DQ_ConceptualConsistency>
                    <gmd:measureDescription>
                        <gco:CharacterString>The V-For-WaTer group currently cannot guarantee the scope, accuracy or timeliness of this information.</gco:CharacterString>
                    </gmd:measureDescription>
                    <gmd:result gco:nilReason="unknown" />
                </gmd:DQ_ConceptualConsistency>
            </gmd:report>
            {# <lineage> goes here when implemented #}
        </gmd:DQ_DataQuality>
    </gmd:dataQualityInfo>
    {#
    - <gmd:portrayalCatalogueInfo>
    - <gmd:metadataConstraints>
    - <gmd:applicationSchemaInfo>
    - <gmd:metadataMaintenance>
    - <gmd:acquisitionInformation>
    #}
</gmi:MI_Metadata>