<?xml version="1.0" encoding="UTF-8"?>
<your-root-element xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="schema-with-radar-schema.xsd" xmlns:radar="http://radar-service.eu/schemas/descriptive/radar/v09/radar-dataset" xmlns:re="http://radar-service.eu/schemas/descriptive/radar/v09/radar-elements">
	<radar:radarDataset>
		<re:identifier identifierType="DOI"></re:identifier>
        {% for author in authors %}
		<re:creators>
			<re:creator>
				<re:creatorName>{{ author.last_name }}, {{ author.first_name }}</re:creatorName>
                {% if author.organisation_name %}
                <creatorAffiliation>{{ author.organisation_name }}</creatorAffiliation>
                {% endif %}
			</re:creator>
		</re:creators>
        {% endfor %}
		<re:title>{{ title }}</re:title>
		<re:publishers>
			<re:publisher>{{ publisher.organisation_name }}</re:publisher>
		</re:publishers>
        {% if temporal_scales %}
        {% set temporal_extent_values = temporal_scales | get_temporal_extent_values %}
		<re:productionYear>{{ temporal_extent_values[0][0:4] }} - {{ temporal_extent_values[1][0:4] }}</re:productionYear>
        {% else %}
        <re:productionYear>"unknown"</re:productionYear>
        {% endif %}
        <re:publicationYear>{{ publication[0:4] }}</re:publicationYear>
		<re:subjectAreas>
			<re:subjectArea>
				<re:controlledSubjectAreaName>Environmental Science and Ecology</re:controlledSubjectAreaName>
			</re:subjectArea>
		</re:subjectAreas>
		<re:resource resourceType="Dataset"/>
		<re:rights>
            {% for license in licenses %}
			<re:controlledRights>{{ license.short_title }}</re:controlledRights>
            {% endfor %}
		</re:rights>
		<re:rightsHolders>
			<re:rightsHolder>Lastname, firstname or name of the institution</re:rightsHolder>
		</re:rightsHolders>
	</radar:radarDataset>
</your-root-element>